{extend name="public/admin_base"}
{block name="title"}添加用户{/block}
{block name="page-breadcrumb"}
<li class="active">添加用户</li>
{/block}
{block name="page-main"}
<!-- Page Body -->
<div class="row">
    <div class="col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget-header bordered-bottom bordered-themeprimary">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Admin/list\')}';" /></i>
                <span class="widget-caption">添加用户</span>
            </div>
            <div class="widget-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="username" class="col-lg-2 control-label no-padding-right">用户名</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="group_ids" class="col-lg-2 control-label no-padding-right">所属用户组</label>
                        <div class="col-lg-6">
                            {volist name="groups" id="v"}
                            {$v['title']}
                            <input class="" type="checkbox" name="group_id" value="{$v['id']}">
                            &emsp;
                            {/volist}
                            <input type="hidden" id="group_ids" name="group_ids">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label no-padding-right">邮箱</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="邮箱" />
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="phone" class="col-lg-2 control-label no-padding-right">手机</label>
                        <div class="col-lg-6">
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="手机" />
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label no-padding-right">用户密码</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="password" name="password" placeholder="用户密码" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="conpass" class="col-lg-2 control-label no-padding-right">确认密码</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" id="conpass" name="conpass" placeholder="确认密码" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary" name="adminAdd" id="adminAdd">添加用户</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}
{block name="page-js"}

<script>
    $(function () {

        $("#adminAdd").click(function () {
            $("#group_ids").val($('input[type=checkbox]:checked').map(function () { return this.value }).get().join(','))
            $.ajax({
                url: "{:url('admin/Admin/add')}",
                type: 'post',
                data: $("form").serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            icon: 6,
                            time: 2000
                        }, function () {
                            location.href = data.url;
                        });
                    } else {
                        layer.open({
                            title: '添加失败',
                            content: data.msg,
                            icon: 5,
                            anim: 5
                        })
                    }
                }
            });

            return false;
        });

    });
</script>
{/block}