{extend name="public/admin_base"}
{block name="title"}用户列表{/block}
{block name="page-breadcrumb"}
<li class="active">用户列表</li>
{/block}
{block name="page-main"}
<!-- Page Body -->
<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Home/index\')}';" /></i>
                <span class="widget-caption">用户列表</span>
            </div>
            <div class="widget-body">
                {$admins|raw}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th>用户ID</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="admins" id="vo"}
                            <tr>
                                <td><span>{$vo.id}</span>
                                </td>
                                <td>{$vo.username} </td>
                                <td>{$vo.email}</td>
                                <td>{if $vo.status==1}正常{else /}<p style="color:red;">禁用</p>{/if}</td>
                                <td>
                                    {if $vo.status==1}
                                    <a href="#" class="admin-status btn btn-darkorange btn-xs" dataid="{$vo.id}"
                                        status="{$vo.status}">禁用</a>
                                    {else /}
                                    <a href="#" class="admin-status btn btn-success btn-xs" dataid="{$vo.id}"
                                        status="{$vo.status}">启用</a>
                                    {/if}
                                    <a href=" {:url( 'admin/Admin/edit',[ 'id'=>$vo.id,'sid'=>17])}"
                                        class="btn btn-azure btn-xs">编辑</a>
                                    <a href="#" class="btn btn-danger btn-xs admin-del" dataid="{$vo.id}">删除</a>

                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-align-right" style="margin-top: 20px;">
                    <a href="{:url( 'admin/Admin/add',['sid'=>17])}"><button type="button" class="btn btn-info">
                            添加用户
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}
{block name="page-js"}
<script>
    $(function () {
        $('.pagination').addClass('pagination-sm');


        $('.admin-del').click(function () {

            var id = $(this).attr('dataid');

            data = {
                id: id
            }
            confirm('确定删除该用户吗？', '用户删除确认', "{:url('admin/Admin/del')}", data)
            return false;
        });

        $('.admin-status').click(function () {

            var id = $(this).attr('dataid');
            var status = $(this).attr('status');

            if (status == 1) {
                var msg = '确定禁用吗？';
            } else {
                var msg = '确定启用吗？';
            }

            data = {
                id: id,
                status: status
            }
            confirm(msg, '用户状态操作', "{:url('admin/Admin/status')}", data)

            return false;
        });
    });
</script>
{/block}