{extend name="public/admin_base"}
{block name="title"}用户列表{/block}
{block name="page-breadcrumb"}
<li class="active">用户列表</li>
{/block}
{block name="page-main"}
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-arrow-left widget-icon" onClick="window.location.href='{:url(\'admin/Home/index\')}';"/></i>
                    <span class="widget-caption">用户列表</span>
                    <div class="widget-buttons">
                        {$admins|raw}
                    </div>
                </div>
                <div class="widget-body">

                    <div class="table-responsive">
                        <table class="table table-hover table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th>用户ID</th>
                                    <th>用户名</th>
                                    <th>邮箱</th>
                                    <th>状态</th>
                                    <th>权限</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {volist name="admins" id="vo"}
                                <tr>
                                    <td><span>{$vo.id}</span>
                                    </td>
                                    <td>{$vo.username} </td>
                                    <td>{$vo.email}</td>
                                    <td>{if $vo.status==1}正常{else /}<p style="color:red;">禁用</p>{/if}</td>
                                    <td>{if $vo.is_super==1}超级用户{else /}普通用户{/if}</td>
                                    <td>{if session('admin.is_super')==1} {if $vo.status==1}
                                        <a href="#" class="admin-status btn btn-darkorange btn-xs" dataid="{$vo.id}"
                                            status="{$vo.status}">禁用</a> {else /}
                                        <a href="#" class="admin-status btn btn-success btn-xs" dataid="{$vo.id}"
                                            status="{$vo.status}">启用</a> {/if}
                                        <a href=" {:url( 'admin/Admin/edit',[ 'id'=>$vo.id])}"
                                            class="btn btn-azure btn-xs">编辑</a>
                                        <a href="#" class="btn btn-danger btn-xs admin-del" dataid="{$vo.id}">删除</a>
                                        {/if}
                                    </td>
                                </tr>
                                {/volist}
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <a href="{:url( 'admin/Admin/add')}"><button type="button" class="btn btn-info">
                            添加用户
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}
{block name="page-js"}
<script>
    $(function () {
        $('.pagination').addClass('pagination-sm');


        $('.admin-del').click(function () {

            var id = $(this).attr('dataid');
            layer.confirm('确定删除该用户吗？', {
                title: '用户删除确认',
                icon: 3
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/Admin/del')}",
                    type: 'post',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function () {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '删除失败',
                                content: data.msg,
                                icon: 5,
                                anim: 5
                            });

                        }
                    }
                });

            });
            return false;
        });

        $('.admin-status').click(function () {

            var id = $(this).attr('dataid');
            var status = $(this).attr('status');

            if (status == 1) {
                var msg = '确定禁用吗？';
            } else {
                var msg = '确定启用吗？';
            }
            layer.confirm(msg, {
                title: '状态操作',
                icon: 3
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: "{:url('admin/Admin/status')}",
                    type: 'post',
                    data: {
                        id: id,
                        status: status
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {
                                icon: 6,
                                time: 2000
                            }, function () {
                                location.href = data.url;
                            });
                        } else {
                            layer.open({
                                title: '操作失败',
                                content: data.msg,
                                icon: 5,
                                anim: 5
                            });

                        }
                    }
                });
            });
            return false;
        });
    });
</script>
{/block}