{extend name="public/admin_base"}
{block name="title"}用户列表{/block}
{block name="page-breadcrumb"}
<li class="active">用户列表</li>
{/block}
{block name="page-main"}
<!-- Page Body -->
<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Home/index\')}';" /></i>
                <span class="widget-caption">用户列表</span>
            </div>
            <div class="widget-body">
                <form id="formSearch" class="form-horizontal" action="{:url('admin/Admin/list')}" method="get">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-lg-1 col-xs-2" for="username">用户名</label>
                        <div class="col-lg-2 col-xs-5">
                            <input type="text" class="form-control" style="margin-top: 0;" name="username" id="username">
                        </div>
                        <!-- <label class="control-label col-lg-1" for="txt_search_status">状态</label>
                        <div class="col-lg-2">
                            <input type="text" class="form-control" name="txt_search_status" id="txt_search_status">
                        </div> -->
                        <div class="col-lg-1 col-xs-2" style="text-align:left;">
                            <button type="submit" id="btn_query"
                                class="btn btn-primary">查询</button>
                        </div>
                        <div class="col-lg-1 col-xs-2" style="text-align:left;">
                            <button type="button"" class="btn btn-warning" id="btn_reset_query">重置</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    {$admins|raw}
                    <table class="table table-hover table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th>用户ID</th>
                                <th>用户名</th>
                                <th>邮箱</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="admins" id="vo"}
                            <tr>
                                <td><span>{$vo.id}</span>
                                </td>
                                <td>{$vo.username} </td>
                                <td>{$vo.email}</td>
                                <td>{if $vo.status==1}正常{else /}<p style="color:red;">禁用</p>{/if}</td>
                                <td>
                                    {if $vo.status==1}
                                    <a href="#" class="admin-status btn btn-darkorange btn-xs" dataid="{$vo.id}"
                                        status="{$vo.status}">禁用</a>
                                    {else /}
                                    <a href="#" class="admin-status btn btn-success btn-xs" dataid="{$vo.id}"
                                        status="{$vo.status}">启用</a>
                                    {/if}
                                    <a href=" {:url( 'admin/Admin/edit',[ 'id'=>$vo.id,'sid'=>17])}"
                                        class="btn btn-azure btn-xs">编辑</a>
                                    <a href="#" class="btn btn-danger btn-xs admin-del" dataid="{$vo.id}">删除</a>

                                </td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
                <div class="form-group text-align-right" style="margin-top: 20px;">
                    <a href="{:url( 'admin/Admin/add',['sid'=>17])}"><button type="button" class="btn btn-info">
                            添加用户
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Body -->
{/block}
{block name="page-js"}
<script>
    $(function () {
        $('.pagination').addClass('pagination-sm');


        $('.admin-del').click(function () {

            var id = $(this).attr('dataid');

            data = {
                id: id
            }
            confirm('确定删除该用户吗？', '用户删除确认', "{:url('admin/Admin/del')}", data)
            return false;
        });

        $('.admin-status').click(function () {

            var id = $(this).attr('dataid');
            var status = $(this).attr('status');

            if (status == 1) {
                var msg = '确定禁用吗？';
            } else {
                var msg = '确定启用吗？';
            }

            data = {
                id: id,
                status: status
            }
            confirm(msg, '用户状态操作', "{:url('admin/Admin/status')}", data)

            return false;
        });

        $("#btn_reset_query").click(function(){
            $("#formSearch")[0].reset()
            $("#formSearch").submit()
        })
    });
</script>
{/block}