<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="{:url('admin/Home/index')}">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text">后台首页</span>
            </a>
        </li>
        <li>
            <a href="{:url('admin/Templates/list')}">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text">表单列表</span>
            </a>
        </li>
        <li>
            <a href="{:url('admin/Templates/add')}">
                <i class="menu-icon fa fa-plus"></i>
                <span class="menu-text">添加表单</span>
            </a>
        </li>
        <li>
            <a href="{:url('admin/MyData/index')}">
                <i class="menu-icon fa fa-server"></i>
                <span class="menu-text">我的数据集</span>
            </a>
        </li>
        {if session('admin.is_super')==1}
        <li>
            <a href="{:url('admin/Admin/list')}">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text">用户列表</span>
            </a>
        </li>
        {/if}
    </ul>
</div>
<!-- /Page Sidebar -->