<!-- Page Sidebar -->
<div class="page-sidebar" id="sidebar">
    <ul class="nav sidebar-menu">
            {volist name="authList" id="vo"}
                {if $vo.id==1}
                <li>
                    <a href="{:url('admin/Home/index')}">
                        <i class="menu-icon fa fa-home"></i>
                        <span class="menu-text">后台首页</span>
                    </a>
                </li>
                {else /}
                <li {if $Think.get.sid==$vo.id} class="open"{/if}>
                    <a class="menu-dropdown">
                        <i class="menu-icon fa {$vo.icon}"></i>
                        <span class="menu-text">{$vo.title}</span>
                        <i class="menu-expand"></i>
                    </a>
                    <ul class="submenu" style="display: none;">
                        {volist name="$vo.child" id="vv"}
                        <li>
                            <a href="{:url($vv.name,['sid'=>$vo.id])}">
                                <span class="menu-text">{$vv.title}</span>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </li>
                {/if}
            {/volist}
       
    </ul>
</div>
<!-- /Page Sidebar -->