<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{block name="title"}快表管理后台{/block}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet" />
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet" />
    <link id="beyond-link" href="__CSS__/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
    {block name="page-style"}
    {/block}
</head>

<body>

    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small style="line-height: 40px;">快表管理后台</small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!--left-->
            {include file="public/_left"}
            <!--left-->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        {if $Request.controller!="Home"}
                        <li><i class="fa fa-arrow-left" onClick="javascript:window.history.back(-1)" /></i></li>
                        {/if}
                        <li><i class="fa fa-home"
                                onClick="window.location.href='{:url(\'admin/Home/index\')}';"></i>主页</li>
                        {block name="page-breadcrumb"}{/block}
                    </ul>
                    <div class="navbar-header pull-right" style="margin-right: 10px;">
                        <div class="navbar-account">
                            <a class="login-area dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <section style="min-width:30px">
                                    <span class="profile"><span><i class="fa fa-user-circle fa-lg fa-fw" aria-hidden="true"></i></span></span>
                                    <!-- <span class="profile"><span>{:session('admin.username')}</span></span> -->
                                </section>
                            </a>
                            <!--Login Area Dropdown-->
                            <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                <li class="dropdown-footer">
                                    <a href="#">{:session('admin.username')}</a>
                                    <a href="#" class="loginout">退出</a>
                                </li>
                            </ul>
                            <!--/Login Area Dropdown-->
                        </div>
                    </div>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                    {block name="page-main"}

                    {/block}
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>
    <!-- footer -->
    {include file="public/_footer"}

    {block name="page-js"}{/block}
    <!--  /footer -->
</body>
<!--  /Body -->


</html>