<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="__IMG__weixin.jpg">

    <title>{block name="title"}网站标题{/block}</title>

    <!-- Bootstrap core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->

    <link href="__CSS__/bootstrap-theme.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/jquery.css" rel="stylesheet">
    <link href="__CSS__/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="__CSS__/mysite.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {block name="page-style"}

    {/block}
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="navbar-container">
                <!-- Navbar Barnd -->
                <div class="navbar-header pull-left">
                    <a href="#" class="navbar-brand">
                        <small style="line-height: 40px;">管理后台</small>
                    </a>
                </div>
                <!-- /Navbar Barnd -->
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="collapse-icon fa fa-bars"></i>
                </div>
                <!-- /Sidebar Collapse -->
                <!-- Account Area and Settings --->
                <div class="navbar-header pull-right">
                    <div class="navbar-account">
                        <ul class="account-area">
                            <li>
                                <a class="login-area dropdown-toggle" data-toggle="dropdown">
                                    <div class="avatar" title="View your public profile">
                                        <img src="__IMG__/logo.jpg">
                                    </div>
                                    <section style="min-width:70px">
                                        <h2><span class="profile"><span>{:session('admin.username')}</span></span>
                                        </h2>
                                    </section>
                                </a>
                                <!--Login Area Dropdown-->
                                <ul class="pull-right dropdown-menu dropdown-arrow dropdown-login-area">
                                    <li class="username"><a>LIJIAN</a></li>
                                    <li class="email"><a>lijianwzx@163.com</a></li>
                                    <!--Avatar Area-->
                                    <li>
                                        <div class="avatar-area">
                                            <img src="__IMG__/logo.jpg" class="avatar">
                                            <span class="caption">个人头像</span>
                                        </div>
                                    </li>
                                    <!--Avatar Area-->
                                    <li class="edit">
                                        <a href="profile.html" class="pull-left">个人资料</a>
                                        <a href="#" class="pull-right">个人设置</a>
                                    </li>
                                  
                                    <li class="dropdown-footer">
                                        <a href="#" id="loginout">退出</a>
                                    </li>
                                </ul>
                                <!--/Login Area Dropdown-->
                            </li>
                        </ul>
                        <div class="setting">
                            <a id="btn-setting" title="Setting" href="#">
                                <i class="icon glyphicon glyphicon-cog"></i>
                            </a>
                        </div>
                        <div class="setting-container">
                            <label>
                                <input type="checkbox" id="checkbox_fixednavbar">
                                <span class="text">头部固定</span>
                            </label>
                            <label>
                                <input type="checkbox" id="checkbox_fixedsidebar">
                                <span class="text">菜单固定</span>
                            </label>
                        </div>
                        <!-- Settings -->
                    </div>
                </div>
                <!-- /Account Area and Settings -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <div class="container project-team-container">
        <div class="row">
            
            <div class="col-lg-9">
                {block name="page-main"}

                {/block}
            </div>

            <div class="col-lg-3">
                {block name="page-right"}

                {/block}
            </div>
        </div>

    </div>

    <!-- <footer class="footer project-footer">
        <div class="container">

        </div>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.min.js"></script>

    <script>
        window.jQuery || document.write('<script src="__JS__/jquery.min.js"><\/script>')
    </script>
    <script src="__JS__/jquery.ui.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>

    <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="__LIB__/layer/layer.js"></script>
    <script type="application/javascript">
        function showMsg(msg) {
            layer.msg(
                msg, {
                icon: 6,
                time: 2000
            })
        }
        function showErrorMsg(msg) {
            layer.open({
                title: "错误！",
                content: msg,
                icon: 5,
                anim: 5
            });
        }
    </script>

    {block name="page-js"}

    {/block}
</body>

</html>