<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/messages_zh.min.js"></script>
<script src="__LIB__/design/designForm.js?v=1.02"></script>
<script src="__LIB__/laydate/laydate.js"></script>

<script>
    $(function () {
        var dataUrl;

        date = new Date()
        laydate.render({
            elem: '#endTime' //指定元素
            , type: 'datetime'
            , min: date.toLocaleString(),
        });

        $(".key-radio").click(function () {
            var value = $(this).val();
            if (value === "1") {
                $(".myKey").removeClass("hidden").addClass("show")
                $(".mydata-box").removeClass("hidden").addClass("show")
            } else {
                $(".form-box")[0].reset();
                $(".myKey").removeClass("show").addClass("hidden")
                $(".mydata-box").removeClass("show").addClass("hidden")
            }
        })
        $(".data-radio").click(function () {
            var value = $(this).val();
            if (value === "1") {
                $(".myData").removeClass("hidden").addClass("show")
            } else {
                $(".myData").removeClass("show").addClass("hidden")
            }
        })

        $(".time-radio").click(function () {
            if ($(this).is(":checked")) {
                $(this).val(0);
                $("#endTime").val("");
                $("#endTime").attr("disabled", "disabled").css("background", "#e4e4e4");
            } else {
                $(this).val(1);
                $("#endTime").removeAttr("disabled").css("background", "");
            }
        })
        $(".initTemplate").click(function () {
            dataUrl = $(this).attr('dataid');
            $(".confirm").click()
            $("#subForm").submit()
        })

        $("#subForm").validate(
            {
                submitHandler: function (form) {
                    var ifUseData = $("input[name='ifUseData']:checked").val();
                    var ifUseKey = $("input[name='ifUseKey']:checked").val();
                    var ifUseEnd = $("input[name='ifUseEnd']").val();

                    var myData = $("#primaryKeyData").val();
                    var primaryKey = $("#primaryKey").val();
                    var endTime = $("#endTime").val();

                    if ($("#formType").val() == "word") {
                        var formdata = new FormData(document.getElementById('subForm'));
                        formdata.append("wordfile", $("#tempalteFile")[0].files[0]);

                        if (ifUseData == "1") {
                            formdata.append('myData', myData)
                        }
                        if (ifUseKey == "1") {
                            formdata.append('primaryKey', primaryKey)
                        }
                        if (ifUseEnd == 0 || endTime == null) {
                            endTime = 0;
                        }
                        formdata.append('endTime', endTime)

                        $.ajax({
                            url: dataUrl,
                            type: "post",
                            async: false,
                            cache: false,
                            contentType: false,
                            processData: false,
                            data: formdata,
                            success: function (data) {
                                if (data.code == 1) {
                                    showMsgAndHref(data)
                                } else {
                                    showErrorMsg(data.msg)
                                }
                            },
                        });
                    } else {
                        var formdata = $('#subForm').serialize()

                        if (ifUseData == "1") {
                            formdata = formdata + '&' + $.param({ 'myData': myData, })
                        }
                        if (ifUseKey == "1") {
                            formdata = formdata + '&' + $.param({ 'primaryKey': primaryKey, })
                        }
                        if (ifUseEnd == 0 || endTime == null) {
                            endTime = 0;
                        }
                        formdata = formdata + '&' + $.param({ 'endTime': endTime, })
                        $.ajax({
                            url: dataUrl,
                            type: "post",
                            dataType: 'json',
                            data: formdata,
                            success: function (data) {
                                if (data.code == 1) {
                                    showMsgAndHref(data)
                                } else {
                                    showErrorMsg(data.msg)
                                }
                            },
                        });
                    }
                },
            });


    });
</script>