    #subForm label.error {
        color: red;
    }

    @media screen and (max-width: 768px) {
        select {
            min-width: 50px;
        }

        td,
        label {
            font-size: 10px;
        }

        .td>input {
            max-width: 80px;
            padding: 2px;
            font-size: 10px;
        }

        .table>thead>tr>th,
        .table>tbody>tr>th,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>tbody>tr>td,
        .table>tfoot>tr>td {
            padding: 2px;
            font-size: 10px;
        }

        .form-control {
            margin-top: 2px;
          }
    }

    .i-radio {
        display: none;
    }

    .s-radio {
        display: inline-block;
        border: 1px solid #ccc;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
    }

    .s-radio:before {
        content: '';
        font-size: 0;
        width: 10px;
        height: 10px;
        background: rgb(143, 188, 238);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px;
        border-radius: 2px;
        display: none;
    }

    .i-radio:checked~.s-radio:before {
        display: block;
    }

    .select {
        display: inline-block;
        width: auto;
        min-width: 50px;
        height: 30px;
        position: relative;
        vertical-align: middle;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        color: #555;
        border: 1px solid #aaa;
        text-shadow: none;
        border-radius: 4px;
        transition: box-shadow 0.25s ease;
        z-index: 2;
    }

    .select:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

    .select:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #ccc;
        top: 14px;
        right: 10px;
        cursor: pointer;
        z-index: -2;
    }

    .select select {
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .select select:focus {
        outline: none;
    }

    .btn-info{
        margin-top: 20px;
    }

    .form-control{
        padding: 0;
    }