@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .widget-header {
    display: none;
  }
  .form-control {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .fa-arrow-left:hover {
    transform: scale(1.4);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .fa-home:hover {
    transform: scale(1.4);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .fun_grid:hover {
    transform: all;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}

legend{
  margin-top: 10px;
  margin-bottom: 0px;
}
.fun_grid {
  opacity: 0.8;
  color: aliceblue;
  width: 60px;
  height: 60px;
  margin: 10px;
  line-height: 18px;
  text-align: center;
  background: #2dc3e8 !important;
  box-shadow: rgba(169, 169, 169, 0.6) 0px 5px 10px 3px;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 14px;
  word-break: break-all;
}
.fun_grid > span {
  display: block;
  text-align: justify;
  text-align-last: justify;
}

a {
  text-decoration: none !important;
}

hr {
  border-top: 1px solid #e8e8e8;
}
input[type=checkbox],
input[type=radio] {
    opacity: unset;
    position: unset;
}

a:hover {
    cursor: pointer;
}
.displaynone {
  display: none !important;
}

.login-area {
  color:black;
  font-size: 14px;
}

.login-area span {
  margin-left: 10px;
}
.login-area a {
  color: white;
  text-decoration: none;
}
.login-area a:hover {
  text-decoration: underline;
}


.home-icon{
  width: 80px;
  height: 80px;
  font-size: 12px;
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(144, 144, 144, 0.4);
}

.home-icon div{
  text-align: center;
  width: 76px;
}

.home-icon-fa{
  height: 56px;
}
.home-icon-fa i{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.home-icon-text{
  height: 20px;
}