{extend name="public/admin_base"}
{block name="title"}
数据集{$dataInfo.title}
{/block}
{block name="page-breadcrumb"}
<li class="active"><i class="fa fa-server"></i>我的数据集</li>
{/block}

{block name="page-main"}
<div class="row">
    <div class="col-xs-6">
        <div class="widget">
            <div class="widget-header bg-themeprimary">
                <i class="fa fa-arrow-left widget-icon" onClick="window.location.href='{:url(\'admin/Home/index\')}';"/></i>
                <span class="widget-caption">数据集</span>
            </div>
            <div class="widget-body">
                <div class="table-responsive">
                   <table class="table table-bordered">
                    {volist name="dataInfo.options" id="vo"}
                    <tr>
                        <td>{$vo.content}</td>
                    </tr>
                {/volist}
                   </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="page-js"}
<script>
    $(".del-data").click(function () {
        var id = $(this).attr('dataid');
        confirm('确定删除吗？','删除任务',"{:url('admin/MyData/delete')}",{id: id})
    })
</script>
{/block}