<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="__IMG__weixin.jpg">

    <title>Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->

    <link href="__CSS__/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="__CSS__/jquery.css" rel="stylesheet">
    <link href="__CSS__/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="__CSS__/mysite.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="__CSS__/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="theme.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="__JS__/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">MySite</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">首页</a></li>
                    <li><a href="project.html">项目</a></li>
                    <li><a href="team.html">团队</a></li>
                    <li><a href="blog.html">博客</a></li>
                    <li><a href="answer.html">问答</a></li>

                </ul>
                <ul class="nav navbar-nav  navbar-right">
                    <li><a href="login.html">登录</a></li>
                    <li><a href="register.html">注册</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </form>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container project-team-container">
        <div class="row">
            <div class="col-lg-9">
                <ul class="tablist">
                    <li id='first-step-li' role="tab" class="first current" aria-disabled="false" aria-selected="true">
                        <a id="formWizard-t-0" href="#formWizard-h-0" aria-controls="formWizard-p-0"><span class="current-info audible">current step: </span><span class="number">1</span> 编写方式</a>
                    </li>
                    <li id='second-step-li' role="tab" class="disabled" aria-disabled="true">
                        <a id="formWizard-t-1" href="#formWizard-h-1" aria-controls="formWizard-p-1"><span class="number">2</span>内容添加</a>
                    </li>
                    <li id='third-step-li' role="tab" class="disabled last" aria-disabled="true">
                        <a id="formWizard-t-2" href="#formWizard-h-2" aria-controls="formWizard-p-2"><span class="number">3</span>完成发布</a>
                    </li>
                </ul>
                <div class="project-first-step">
                    <form class="edit-project-info">
                        <div class="form-group">
                            <form id="uploadForm" enctype="multipart/form-data">
                                <div class="form-inline">
                                    <label for="tname" class="col-sm-2 control-label">模板名字</label>
                                    <input type="text" class="form-control" id="tname"  >
                                    <input type="text" class="form-control" name="fileBrowserInput" id="fileBrowserInput" readonly="readonly">
                                    <input type="file" class="hidden" id="tempalteFile">
                                    <div class="input-group">
                                        
                                        <input type="button" id="fileBrowser" value="选择文件">
                                    </div>
                                    <input type="button" value="提交" id="subFile">
                                </div>
                            </form>
                        </div>

                        <button type="button" id="project-first-btn" class="btn">下一步</button>
                    </form>
                </div>
                <div class="project-second-step displaynone">
                    <div class="form-group edit-method">
                        <div id="">

                        </div>
                    </div>
                    <div id='myxheditor' class="displaynone">
                        <label for="project-title">编辑正文</label>
                        <textarea name="content" class="xheditor" rows="30" style="width: 100%;">test</textarea>
                    </div>
                    <div class="form-group">
                        <label for="TextInput">研究方向</label>
                        <div id="span-list" class="tag-list"></div>
                        <div class="project-tag-input">
                            <input id="form-tags" name="project-taglist-name" style="display: none;" class="tag-input ui-autocomplete-input" value="" placeholder="输入标签">
                            <div class="input-group">
                                <input id='form-tags_tag' class='tag-input form-control' value='' placeholder="输入标签">
                                <div class="input-group-btn">
                                    <button class="btn pull-right" role="button" data-toggle="collapse" href="#tag-collapse" aria-expanded="false" aria-controls="tag-collapse">
												  更多<i class="fa fa-angle-down"></i>
												</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="project-second-btn-prev" class="btn">上一步</button>
                    <button type="button" id="project-second-btn" class="btn">下一步</button>
                </div>
                <div class="project-third-step displaynone">
                    <button type="button" id="project-third-btn-reset" class="btn">取消</button>
                    <button type="button" id="" class="btn">保存</button>
                    <button type="button" id="" class="btn">立即发布</button>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="project-right-sider project-project-sider-header">
                    <form class="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
							        <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </form>
                    <button class="btn project-btn" type="button"><span class="fa fa-edit"></span>  发布项目</button>
                </div>
                <div class="project-right-sider">

                </div>
                <div class="project-right-sider">

                </div>
            </div>

        </div>

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.min.js"></script>


    <script>
        window.jQuery || document.write('<script src="__JS__/jquery.min.js"><\/script>')
    </script>
    <script src="__JS__/jquery.ui.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>

    <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.zh-CN.js"></script>

    <script src="__LIB__/layer/layer.js"></script>

    <!--<script src="__JS__/js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="__JS__/ie10-viewport-bug-workaround.js"></script>-->

    <script type="application/javascript">
        $("#fileBrowser").click(function() {
            // console.log("ss")
            $("#tempalteFile").click();
            $("#tempalteFile").change(function(){
                console.log($("#tempalteFile").val());
                $("#fileBrowserInput").val($("#tempalteFile").val())
            });
        })

        
        $("#subFile").click(function(){
            var fd=new FormData();
            fd.append("tempalte",$("#tempalteFile").get(0).files[0]);
            fd.append("tname",$("#tname").val())
            $.ajax({
                method:"post",
                url:"{:url('excel/import/upload')}",
                data:fd,
                cache:false,
                processData:false,
                contentType:false,
                success:function(data){
                    if (data.code == 1) {
                            layer.msg(
                                data.msg, {
                                    icon: 6,
                                    time: 2000
                                }
                            );
                        } else {
                            layer.open({
                                title: "更新失败！",
                                content: data.msg,
                                icon: 5,
                                anim: 5
                            });
                        }
                }
            })
        })
    </script>




    <script type="application/javascript">
        $('.project-project-sorted>li').on('click', function() {
            list = $(this);
            list.siblings('li').removeClass('active');
            list.siblings('li').find('i').removeClass('sorted-caret-active');
            list.addClass('active')
            if (list[0].id !== 'city-dropdown' && list[0].id !== 'sorted-all') {
                ilist = list.find('i')
                if (!ilist.first().hasClass('sorted-caret-active') && !ilist.last().hasClass('sorted-caret-active')) {
                    ilist[1].classList.add('sorted-caret-active');
                } else if (!ilist.first().hasClass('sorted-caret-active') && ilist.last().hasClass('sorted-caret-active')) {
                    ilist[1].classList.remove('sorted-caret-active');
                    ilist[0].classList.add('sorted-caret-active');
                } else if (ilist.first().hasClass('sorted-caret-active') && !ilist.last().hasClass('sorted-caret-active')) {
                    ilist[0].classList.remove('sorted-caret-active');
                    ilist[1].classList.add('sorted-caret-active');
                } else {
                    ilist[1].classList.add('sorted-caret-active');
                }
            }

        });
        // 异步请求
        $('#load-more').on('click', function() {
            btn = $(this);
            btn.html('正在加载<i class="fa fa-spinner fa-spin"></i>')
        });
        $('#project-date input').datepicker({
            language: 'zh-CN',
            format: 'yyyy-mm-dd',
        });

        // 项目信息填写
        $('.project-first-step select').on("change", function() {
            var mode_json = {
                '1': '元',
                '2': '共同作者',
                '3': '面议',
                '4': '填写说明'
            }
            var id = this.value;
            $('#project-mode').attr('placeholder', mode_json[id]);
        })
        $('#project-first-btn').on('click', function() {
            $('#first-step-li').removeClass('current');
            $('#second-step-li').addClass('current');
            $('.project-first-step').addClass('displaynone');
            $('.project-second-step').removeClass('displaynone');
            var postfile = $('.project-first-step select').val()

            if (postfile !== 'online') {
                $('.project-second-step .edit-method div').remove()
                $('#myxheditor').addClass('displaynone')
                $('.project-second-step .edit-method').append(
                    '<div class="form-group edit-method">' +
                    '<label for="project-file">附件(<2M的文件)</label>' +
                    '<div class="input-group">' +
                    '<input id="location" name="project-file-name" class="form-control" onclick="$(\'#i-file\').click();">' +
                    '<label class="input-group-btn">' +
                    '<input type="button" id="i-check" value="浏览文件" class="btn" onclick=\"$(\'#i-file\').click();">' +
                    '</label>' +
                    '</div>' +
                    '<input type="file"  id="i-file"  accept=."' + postfile + '" onchange="$(\'#location\').val($(\'#i-file\').val());" style="display: none">' +
                    '</div>'
                )
            } else {
                $('.project-second-step .edit-method div').remove()
                $('#myxheditor').removeClass('displaynone')
            }
        });
        $('#project-second-btn').on('click', function() {
            $('#second-step-li').removeClass('current');
            $('#third-step-li').addClass('current');
            $('.project-second-step').addClass('displaynone');
            $('.project-third-step').removeClass('displaynone');
            //				$('.project-third-step li').remove();
            //				$('.project-third-step ul').append(
            //					
            //				)
        });
        $('#project-second-btn-prev').on('click', function() {
            $('#second-step-li').removeClass('current');
            $('#first-step-li').addClass('current');
            $('.project-second-step').addClass('displaynone');
            $('.project-first-step').removeClass('displaynone');
        });
        $('#project-third-btn-reset').on('click', function() {
            $('#third-step-li').removeClass('current');
            $('#first-step-li').addClass('current');
            $('.project-third-step').addClass('displaynone');
            $('.project-first-step').removeClass('displaynone');
        });
    </script>
    <!--<script src="../static/js/js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../static/js/ie10-viewport-bug-workaround.js"></script>-->
</body>

</html>