{extend name="public/admin_base"}
{block name="title"}添加任务{/block}
{block name="page-main"}

<div class="row">
    <div class="col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget">
                <div class="bg-themeprimary widget-header">
                    <span class="widget-caption">选择添加方式</span>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <a href="{:url('admin/Import/createTemplateFirst')}" style="margin-right: 10px;">
                                    <button class="btn btn-primary btn-lg">已有模板，直接导入</button>
                                </a>
                                <a href="{:url('admin/Hand/index')}">
                                    <button class="btn btn-primary btn-lg">手动创建</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}