{extend name="public/admin_base"}
{block name="title"}创建表单{/block}
{block name="page-breadcrumb"}
<li class="active">创建表单</li>
{/block}
{block name="page-main"}

<div class="row">
    <div class="col-xs-6">
        <div class="widget radius-bordered">
            <div class="widget">
                <div class="bg-themeprimary widget-header">
                <i class="fa fa-arrow-left widget-icon" onClick="window.location.href='{:url(\'admin/Home/index\')}';"/></i>
                <span class="widget-caption">选择添加方式</span>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <a href="{:url('admin/Import/First')}" style="margin-right: 10px;">
                                    <button class="btn btn-primary btn-lg">文件导入</button>
                                </a>
                                <a href="{:url('admin/Hand/index')}">
                                    <button class="btn btn-primary btn-lg">手动创建</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}