{extend name="public/admin_base"}
{block name="title"}添加任务{/block}
{block name="page-main"}

<div class="row">
    <div class="col-xs-12">
        <div class="widget radius-bordered">
            <div class="widget">
                <div class="bg-themeprimary widget-header">
                    <span class="widget-caption">选择添加方式</span>
                    <div class="widget-buttons">

                    </div>
                </div>
                <div class="widget-body">
                    <div>
                        <a href="{:url('admin/Import/createTemplateFirst')}">
                        <button class="btn btn-primary btn-lg">已有模板，直接导入</button>
                        </a>
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}
