{extend name="public/admin_base"}

{block name="title"}编辑表单{/block}
{block name="page-breadcrumb"}
<li class="active">编辑表单</li>
{/block}
{block name="page-style"}
<link href="__CSS__/main.css" rel="stylesheet">
<link href="__CSS__/hand.css" rel="stylesheet">

{/block}
{block name="page-main"}
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="bg-themeprimary widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Templates/list\')}';" /></i>
                <span class="widget-caption">编辑表单</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <form autocomplete="off" id="subForm">
                                <table class="table" id="tableD">
                                    <tr>
                                        <th colspan="4">
                                            <h4>表单名</h4>
                                            <input type="text" required="true" name="templateName" class="form-control"
                                                style="max-width:none;" value="{$tInfo.tname}">
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4">
                                            <h4>表单说明</h4>
                                            <textarea type="text" class="form-control" id="remarks" name="remarks"
                                                rows="5">{$tInfo.remarks}</textarea>
                                        </th>
                                    </tr>
                                    {volist name="optionList" id='option' key="k"}
                                    <tr>
                                        <td><label for="{$key}" class="control-label">字段{$k}</label>
                                        </td>
                                        <td><input type="text" required="true" class="form-control fieldTitle"
                                                name="{$key}" value="{$option.title}"></td>
                                        {notpresent name="$option.options"}
                                        <td><label for="{$key}" class="control-label">规则</label></td>
                                        <td style="width: 25%;">
                                            <select class="form-control input-type" dataid="{$key}" name="{$key}_rule">
                                                <option value="{$option.rule}">{$option.rule|getFieldType}</option>
                                                <option value="input|required">普通文本</option>
                                                <option value="phone|required">手机号</option>
                                                <option value="email|required">邮箱</option>
                                                <option value="number|required">数字</option>
                                                <option value="date|required">日期</option>
                                                <option value="time|required">时间(24小时)</option>
                                                <option value="datetime|required">日期+时间</option>
                                                <option value="text">非必填项</option>
                                            </select>
                                        </td>
                                        {else /}
                                        <td>
                                            <textarea required="true" id="{$key}_childs" class="form-control hidden"
                                                rows="4" cols="3"></textarea>
                                            <a class="confirm hidden" id="{$key}_confirm" dataid="{$key}" onclick="confirmEditSelect('{$key}')">确认</a>
                                            <a class="editOptions" id="{$key}_edit" dataid="{$key}" onclick="editSelect('{$key}')">修改</a>
                                        </td>
                                        <td style="width: 50px;">
                                            <input type="text" class="hidden" value="select|required"
                                                name="{$key}_rule">

                                            <select class="form-control" required="true" id="{$key}_options">
                                                {volist name="option.options" id="vo"}
                                                <option name="{$key}">{$vo}</option>
                                                {/volist}
                                            </select>
                                            <!-- {volist name="option.options" id="vo"}
                                            <input type="text" value="{$vo}" name="{$key}" class="hidden">
                                            {/volist} -->
                                        </td>

                                        {/notpresent}
                                    </tr>
                                    {/volist}
                                </table>

                                <input type="text" class="hidden" name="tid" id="tid" value="{$tInfo.tid}">
                            </form>
                            <button id="addInput" class="btn btn-info">添加文本框</button>
                            <button id="addSelect" class="btn btn-info">添加下拉菜单</button>
                        </div>
                    </div>

                    <input type="hidden" id="formType" value="edit">
                    <input type="hidden" name="beginId" id="beginId" value="{$formLength}">

                    <div class="col-lg-3">
                        {include file="public/form_right" /}
                        <button dataid="{:url('admin/Templates/edit')}" class="btn btn-success initTemplate"
                            type="button"><span class="fa fa-table"></span>
                            确认更改表单</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="page-js"}
{include file="public/form_js" /}
{/block}