{extend name="public/admin_base"}
{block name="title"}表单列表{/block}
{block name="page-breadcrumb"}
<li class="active">表单列表</li>
{/block}

{block name="page-main"}
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header bg-themeprimary">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Home/index\')}';" /></i>
                <span class="widget-caption">表单列表</span>
            </div>
            <div class="widget-body">
                <div class="table-responsive">
                    <!-- <div class="alert alert-danger">
                        <p>使用word模板的表单无法编辑</p>
                    </div> -->
                    <table class="table table-hover text-nowrap" style="padding: 2px;">
                        <thead>
                            <tr>
                                <th>表单名</th>
                                {present name="$display"}<th>用户名</th>{/present}
                                <th>状态</th>
                                <th colspan="3">操作</th>
                                <th>类型</th>
                                <th>数据集</th>
                                <th>唯一列</th>
                                <th>截止时间</th>
                                <th>创建时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="templates" id="vo"}
                            <tr>
                                <td><a href="{:url('admin/Template/index',['id'=>$vo.tid,'sid'=>'2'])}" target="_blank"
                                        style="font-size:14px">{$vo.tname}</a> </td>
                                {present name="$display"}<td>{$vo.get_user.username}</td>{/present}

                                {if $vo.status==1}
                                <td>
                                    <span class="tempalte-status badge badge-pill badge-success"
                                        status="{$vo.status}">进行中</span>
                                </td>
                                <td>
                                    <a href="#" class="tempalte-status btn btn-warning btn-xs control-tempalte"
                                        dataid="{$vo.id}" status="{$vo.status}">暂停</a>
                                    <a href="#" class="tempalte-status btn btn-darkorange btn-xs del-tempalte disabled"
                                        dataid="{$vo.id}" status="{$vo.status}">删除</a> </td>

                                {else /}
                                <td>
                                    <span href="#" class="tempalte-status badge badge-pill badge-warning"
                                        status="{$vo.status}">已暂停</span>
                                </td>
                                <td>
                                    <a href="#" class="tempalte-status btn btn-success btn-xs control-tempalte"
                                        dataid="{$vo.id}" status="{$vo.status}">开始</a>
                                    <a href="#" class="tempalte-status btn btn-darkorange btn-xs del-tempalte"
                                        dataid="{$vo.id}" status="{$vo.status}">删除</a> </td>
                                {/if}
                                <td>
                                    <a href="{:url('admin/Template/index',['id'=>$vo.tid,'sid'=>'2'])}" target="_blank"
                                        class="btn btn-xs btn-success"><span class="fa fa-table"></span>数据</a>
                                </td>
                                <td>
                                    <a class="copy" dataid="{$vo.shareUrl}"><span class="fa"></span>分享</a>

                                    <a href="#" class="shareImg" dataid="{$vo.shareQrCode}"><span
                                            class="fa"></span>二维码</a>|

                                    <a href="{$vo.shareUrl}" target="_blank" class=""><span class="fa"></span>查看</a>

                                    {if $vo.ttype==0}
                                    |
                                    <a href="{:url('admin/Templates/edit',['tid'=>$vo.tid,'sid'=>'2'])}" target="_blank"
                                        class=""><span class="fa"></span>编辑</a>
                                    {/if}
                                </td>
                                <td>
                                    <span class="tempalte-type" status="{$vo.status}">
                                        {if $vo.ttype==1}
                                        <i class="fa fa-2x fa-file-word-o" title="带有word模板"></i>
                                        {else /}
                                        <i class="fa fa-2x fa-table" title="普通表单"></i>
                                        {/if}
                                    </span>
                                </td>
                                <td>
                                    {notempty name="$vo.mydata"}
                                    {$vo.mydata}
                                    {else /}
                                    无
                                    {/notempty}
                                </td>
                                <td>
                                    {notempty name="$vo.primaryKey"}
                                    {$vo.primaryKey}
                                    {else /}
                                    无
                                    {/notempty}
                                </td>
                                <td>
                                    {if $vo.endTime!=0}
                                    {$vo.endTime}
                                    {else /}
                                    无
                                    {/if}
                                </td>

                                <td>{$vo.create_time|date='Y年m月d日 H:i'}</td>

                            </tr>
                            {/volist}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="page-js"}
<script>

    $(".del-tempalte").click(function () {
        var id = $(this).attr('dataid');
        confirm('确定删除吗？', '删除表单', "{:url('admin/Templates/del')}", { id: id })
    })

    $(".control-tempalte").click(function () {
        var id = $(this).attr('dataid');
        var status = $(this).attr('status');
        if (status === "1") {
            msg = "确定暂停吗？"
            opt = "stop"
        } else {
            msg = "确定开始吗？"
            opt = "start"
        }
        confirm(msg, '表单管理确认', "{:url('admin/Templates/control')}", { id: id, opt: opt })
    })

    $(".copy").click(function () {
        var data = $(this).attr('dataid')
        copyToClip(data)
    })


    $(".shareImg").click(function () {
        var img = '<img src="/'+$(this).attr('dataid')+'">'
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,

            offset: 'auto',
            // area: ['auto'],
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content:img
        });
    })
</script>

{/block}