{extend name="public/admin_base"}

{block name="title"}导入表单文件{/block}
{block name="page-breadcrumb"}
<li>创建表单</li>
<li class="active">导入表单</li>
{/block}
{block name="page-style"}
<link href="__CSS__/main.css" rel="stylesheet">
<link href="__CSS__/project.css" rel="stylesheet">
<style>
    img {
        width: 150px;
        -webkit-transition: -webkit-transform .3s ease;
        -moz-transition: -moz-transform .3s ease;
        -ms-transition: -ms-transform .3s ease;
        transition: transform .3s ease;
    }

    img:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2)
    }
</style>
{/block}
{block name="page-main"}
<div class="project-team-container">
    <div class="bg-themeprimary widget-header">
        <i class="fa fa-arrow-left widget-icon" onClick="window.location.href='{:url(\'admin/Templates/add\')}';" /></i>
        <span class="widget-caption">第一步：导入文件</span>
    </div>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-9">
                <ul class="tablist">
                    <li id='first-step-li' role="tab" class="first current" aria-disabled="false" aria-selected="true">
                        <a id="formWizard-t-0" aria-controls="formWizard-p-0"><span class="current-info audible">current
                                step: </span><span class="number">1</span> 导入文件</a>
                    </li>
                    <li id='second-step-li' role="tab" class="disabled" aria-disabled="true">
                        <a id="formWizard-t-1" aria-controls="formWizard-p-1"><span class="number">2</span>完善表单</a>
                    </li>
                    <li id='third-step-li' role="tab" class="disabled last" aria-disabled="true">
                        <a id="formWizard-t-2" aria-controls="formWizard-p-2"><span class="number">3</span>完成发布</a>
                    </li>
                </ul>
                <div class="project-first-step">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class="form-inline">
                            <label for="tname" class="col-lg-2 col-lg-offset-1 control-label">表单名</label>
                            <input type="text" class="" id="tname">
                            <input type="text" class="form-control file-input" name="fileBrowserInput" id="fileBrowserInput"
                                readonly="readonly">
                            <input type="file" class="hidden" id="tempalteFile">
                            <div class="input-group">
                                <input type="button" id="fileBrowser" class="btn btn-default" value="选择文件">
                            </div>
                            <input type="button" class="btn btn-info" value="提交" id="subFile">
                        </div>
                    </form>
                    <br>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">表单文件说明</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">1、excel文件第一行为字段名</li>
                            <li class="list-group-item">2、第二行起为空时生成文本框，有待选文字时生成下拉菜单</li>
                            <li class="list-group-item">3、不能有空行和列</li>
                            <li class="list-group-item">
                                4、所有字段都是必填项 <font color="red"
                                    style="position:relative; top:5px;font-weight:bold;font-size:16px">*</font>
                            </li>
                            <li class="list-group-item">
                                <p>5、示例图片</p>
                                <img src="__IMG__/example-1.jpg" alt="表单文件示例">
                                <img src="__IMG__/example-2.jpg" alt="生成表单示例">
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="page-js"}
<script type="application/javascript">

    $("#fileBrowser").click(function () {
        $("#tempalteFile").val("");
        $("#tempalteFile").click();
        $("#tempalteFile").change(function () {
            CheckFile(this)
            $("#fileBrowserInput").val($("#tempalteFile").val())
        });
    })
    //文件上传验证.
    function CheckFile(obj) {
        var array = new Array('xls', 'xlsx'); //可以上传的文件类型 
        if (obj.value == '') {
            showErrorMsg("选择要上传的文件!");
            return false;
        }
        else {
            var fileContentType = obj.value.match(/^(.*)(\.)(.{1,8})$/)[3];
            var isExists = false;
            for (var i in array) {
                if (fileContentType.toLowerCase() == array[i].toLowerCase()) {
                    isExists = true;
                    return true;
                }
            }
            if (isExists == false) {
                obj.value = null;
                showErrorMsg("上传文件类型不正确,必须为.xls或.xlsx!");
                return false;
            }
        }
    }

    $("#subFile").click(function () {
        var file = document.getElementById("tempalteFile")
        if (CheckFile(file) === true) {
            var fd = new FormData();
            fd.append("tempalte", $("#tempalteFile")[0].files[0]);
            fd.append("tname", $("#tname").val())
            $.ajax({
                method: "post",
                url: "{:url('admin/Import/first')}",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.code == 1) {
                        showMsgAndHref(data);
                    } else {
                        showErrorMsg(data.msg)
                        $("#tempalteFile").val("");
                        $("#fileBrowserInput").val("");
                    }
                }
            })
        }

    })
</script>
{/block}