{extend name="public/admin_base"}

{block name="title"}完善表单信息{/block}
{block name="page-style"}
<link href="__CSS__/main.css" rel="stylesheet">

<link href="__CSS__/project.css" rel="stylesheet">
<style>
    .form-inline {
        margin-top: 10px;
    }

    .select {
        display: inline-block;
        width: auto;
        height: 30px;
        width: 100px;
        position: relative;
        vertical-align: middle;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        color: #555;
        border: 1px solid #aaa;
        text-shadow: none;
        border-radius: 4px;
        transition: box-shadow 0.25s ease;
        z-index: 2;
    }

    .select:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

    .select:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #ccc;
        top: 14px;
        right: 10px;
        cursor: pointer;
        z-index: -2;
    }

    .select select {
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .select select:focus {
        outline: none;
    }

    label {
        margin: 10px;
    }

    .i-radio {
        display: none;
    }

    .s-radio {
        display: inline-block;
        border: 1px solid #ccc;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
    }

    .s-radio:before {
        content: '';
        font-size: 0;
        width: 10px;
        height: 10px;
        background: rgb(143, 188, 238);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px;
        border-radius: 2px;
        display: none;
    }

    .i-radio:checked~.s-radio:before {
        display: block;
    }

    .project-team-container .form-control {
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 2px;
        font-size: 14px;
        font-family: "Microsoft soft";
        font-size: inherit;
        box-shadow: none;
        -webkit-transition-duration: .25s;
        transition-duration: .25s;
    }
</style>
{/block}
{block name="page-main"}
<div class="project-team-container">
    <div class="bg-themeprimary widget-header">
        <span class="widget-caption">第二步：完善表单</span>
    </div>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-9">
                <ul class="tablist">
                    <li role="tab" class="disabled first" aria-disabled="true">
                        <a id="formWizard-t-0" aria-controls="formWizard-p-0"><span class="number">1</span> 导入文件</a>
                    </li>
                    <li role="tab" class="second current" aria-disabled="false" aria-selected="true">
                        <a id="formWizard-t-1" aria-controls="formWizard-p-1"><span class="current-info audible">current
                                step: </span><span class="number">2</span> 完善表单</a>
                    </li>
                    <li role="tab" class="disabled last" aria-disabled="true">
                        <a id="formWizard-t-2" aria-controls="formWizard-p-2"><span class="number">3</span>完成发布</a>
                    </li>
                </ul>
                <div class="form-horizontal">
                    <form autocomplete="off" id="subForm">
                        <table class="table">
                            <caption>
                                <h2>{$tname}</h2>
                            </caption>
                            <tbody>
                                {volist name="optionList" id='option'}
                                {notpresent name="$option.options"}
                                <tr>
                                    <td><label for="{$key}" class="col-lg-10 control-label">{$option.title}</label>
                                    </td>
                                    <td><input type="text" class="form-control" name="{$key}"></td>
                                    <!-- <td><label for="{$key}" class="control-label">规则</label></td>
                                    <td style="width: 25%;"><select class=" td-form-control form-control input-type"
                                            dataid="{$key}" name="{$key}_rule">
                                            <option value="text|required">普通文本</option>
                                            <option value="phone|required">手机号</option>
                                            <option value="email|required">邮箱</option>
                                            <option value="number|required">数字</option>
                                            <option value="text">非必填项</option>
                                        </select>
                                    </td> -->
                                </tr>
                                {else /}
                                <tr>
                                    <td><label for="{$key}" class="col-lg-10 control-label">{$option.title}</label>
                                    </td>
                                    <td><select class="form-control">
                                            {volist name="option.options" id="vo"}
                                            <option name="{$key}">{$vo}</option>
                                            {/volist}
                                        </select></td>
                                </tr>
                                {/notpresent}
                                {/volist}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="project-right-sider" style="margin-top: 160px;">
                    {include file="public/form_right" /}
                    <button class="btn btn-success initTemplate" type="button"><span class="fa fa-table"></span>
                        初始化表单</button>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="page-js"}
{include file="public/form_js" /}
<!-- <script>

    $(function () {
        $(".key-radio").click(function () {
            var value = $(this).val();
            if (value === "1") {
                $(".myKey").removeClass("hidden").addClass("show")
                $(".mydata-box").removeClass("hidden").addClass("show")
            } else {
                $(".form-box")[0].reset();
                $(".myKey").removeClass("show").addClass("hidden")
                $(".mydata-box").removeClass("show").addClass("hidden")
            }
        })
        $(".data-radio").click(function () {
            var value = $(this).val();
            if (value === "1") {
                $(".myData").removeClass("hidden").addClass("show")
            } else {
                $(".myData").removeClass("show").addClass("hidden")
            }
        })



        $(".excelInitTemplate").click(function () {
            var myData = $("#primaryKeyData").val();
            var ifUseData = $("input[name='ifUseData']:checked").val();
            var ifUseKey = $("input[name='ifUseKey']:checked").val();
            var primaryKey = $("#primaryKey").val();
            var data;

            if (ifUseData == "1") {
                data = data + '&' + $.param({ 'myData': myData, })
            }

            if (ifUseKey == "1") {
                data = data + '&' + $.param({ 'primaryKey': primaryKey, })
            }

            $.ajax({
                method: "post",
                url: "{:url('admin/import/Second')}",
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.code == 1) {
                        showMsgAndHref(data)
                    } else {
                        showErrorMsg(data.msg)
                    }
                }
            })
        })
    });
</script> -->
{/block}