{extend name="public/admin_base"}
{block name="title"}数据-{$template.tname}{/block}
{block name="page-style"}
<style>
    input[type=checkbox],
    input[type=radio] {
        opacity: 1;
        position: inherit;
        left: -9999px;
        z-index: 12;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
</style>

{/block}
{block name="page-main"}
<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <div class="bg-themeprimary widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Templates/list\')}';" /></i>
                <span class="widget-caption">{$template.tname}</span>

            </div>
            <div class="widget-body">
                <!-- <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1" for="txt_search_departmentname">部门名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_search_departmentname">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_statu">状态</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_search_statu">
                        </div>
                        <div class="col-sm-4" style="text-align:left;">
                            <button type="button" style="margin-left:50px" id="btn_query"
                                class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </form> -->
                <div id="toolbar" class="btn-group">
                    <div class="btn-group">
                        <button id="btn_delete" type="button" class="btn btn-danger">
                            <span class="fa fa-remove" aria-hidden="true"></span>删除
                        </button>
                        <button id="btn_refresh" type="button" class="btn btn-success">
                            <span class="fa fa-refresh" aria-hidden="true"></span>刷新
                        </button>
                        <button id="copy" class="btn btn-info" dataid="{$template.tid}">
                            <span class="fa fa-share"></span>分享
                        </button>
                        <a href="{$shareUrl}" target="_blank" class="btn btn-default"><span
                                class="fa fa-eye"></span>查看任务</a>
                    </div>
                </div>

                <table id="table" data-search="true"
                    class="table table-striped table-hover table-bordered text-nowrap  table-condensed"></table>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="page-js"}
<link rel="stylesheet" href="__LIB__/bootstrap-table/bootstrap-table.min.css">
<script src="__LIB__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__LIB__/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="__LIB__/bootstrap-table/extensions/FileSaver/FileSaver.min.js"></script>
<script src="__LIB__/bootstrap-table/extensions/xlsx/xlsx.core.min.js"></script>
<script src="__LIB__/bootstrap-table/extensions/tableExport.js"></script>
<script src="__LIB__/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script>
    $("#copy").click(function () {
        copyToClip("{$shareUrl}");
    })

    /**
 * 复制内容到粘贴板
 * content : 需要复制的内容
 */
    function copyToClip(content) {
        var aux = document.createElement("input");
        aux.setAttribute("value", content);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");
        document.body.removeChild(aux);
        showMsg("复制成功")
    }
    $(function () {
        //初始化Table
        $("#table").bootstrapTable({
            url: "{:url('admin/Template/dataList')}",
            method: "post", //请求方式（*）
            toolbar: "#toolbar", //工具按钮用哪个容器
            striped: false, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            queryParams: queryParams, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 15, //每页的记录行数（*）
            pageList: [25, 50, 100], //可供选择的每页的行数（*）
            showRefresh: false, //是否显示刷新按钮
            showSearch: true,
            minimumCountColumns: 2, //最少允许的列数
            clickToSelect: true, //是否启用点击选中行
            // height: 750, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID", //每一行的唯一标识，一般为主键列
            detailView: false, //是否显示父子表
            //显示导出插件
            showExport: true,
            //导出文件类型
            exportTypes: ['csv', 'xlsx'],
            //导出范围
            exportDataType: "all", //basic'导出当前页, 'all'导出全部, 'selected'导出选中项.
            //文件名称设置
            exportOptions: {
                fileName: "{$template.tname}",
                tableName: "{$template.tname}",
                worksheetName: 'sheet1',  //表格工作区名称
            },

            columns: {$fields|raw},
        });
    //得到查询的参数
    function queryParams(params) {
        return {
            //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit, //页面大小
            offset: params.offset,
            order: params.order,
            ordername: params.sort,
            search: params.search
        };
    };

    });

    $("#btn_delete").click(function () {
        var rows = $('#table').bootstrapTable('getSelections');// 获得要删除的数据
        // rows 主要是为了判断是否选中，下面的else内容才是主要
        if (rows.length == 0) {
            showErrorMsg("请先选择要删除的记录!");
            return;
        } else {
            // 声明一个数组
            var ids = new Array();
            // 通过获得别选中的来进行遍历
            $(rows).each(function () {
                ids.push(this.id);
            });
            if (isPC) {
                layer.confirm('确定删除吗？', {
                    title: '删除任务',
                    icon: 3
                }, function (index) {
                    $.ajax({
                        url: "{:url('admin/Template/del')}",
                        data: "ids=" + ids,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            showMsg("删除成功！")
                            $('#table').bootstrapTable('refresh');
                        }
                    })
                })
            } else {
                //询问框
                layer.open({
                    content: '确定删除吗？'
                    , btn: ['确定', '取消']
                    , yes: function (index) {
                        $.ajax({
                        url: "{:url('admin/Template/del')}",
                        data: "ids=" + ids,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            showMsg("删除成功！")
                            $('#table').bootstrapTable('refresh');
                        }
                    })
                    }
                });
            }
        }
    });
    $("#btn_refresh").click(function () {
        $('#table').bootstrapTable('refresh');
    })


</script>

{/block}