{extend name="public/admin_base"}
{block name="title"}数据-{$template.tname}{/block}
{block name="page-breadcrumb"}
<li>表单列表</li>
<li class="active">{$template.tname}</li>
{/block}
{block name="page-style"}
<style>
    input[type=checkbox],
    input[type=radio] {
        opacity: 1;
        position: inherit;
        left: -9999px;
        z-index: 12;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .nav-tabs {
        width: auto;
    }

    .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-right: 0;
        border-left: 0;
    }

    table {

        table-layout: automatic;
    }

    table td {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

{/block}
{block name="page-main"}
<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <!-- <div class="bg-themeprimary widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Templates/list\')}';" /></i>
                <span class="widget-caption">{$template.tname}</span>
            </div> -->
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#firstPage" data-toggle="tab">
                        {$template.tname} 数据
                    </a>
                </li>
                {if $template.myData!=0}

                <li>
                    <a href="#secondPage" id="secondTab" dataid="{$template.id}" data-toggle="tab">
                        未填数据
                    </a>
                </li>
                {/if}
            </ul>

            <div id="myTabContent" class="tab-content">
                <div id="firstPage" class="tab-pane active">
                    <div id="toolbar" style="width: 100%;">
                        <div class="btn-group" style="margin-right: 30px;">
                            <button id="btn_delete" type="button" class="btn btn-danger">
                                <span class="fa fa-remove" aria-hidden="true"></span>删除
                            </button>
                            <button id="btn_refresh" type="button" class="btn btn-success">
                                <span class="fa fa-refresh" aria-hidden="true"></span>刷新

                                <button id="copy" class="btn btn-info" dataid="{$template.tid}">
                                    <span class="fa fa-share"></span>分享
                                </button>
                                {if $template.ttype=="1"}
                                <a href="{:url('admin/Word/export_word',['tId' => $tId])}" target="_blank"
                                    class="btn btn-default"><span class="fa fa-file-word-o"></span>导出word</a>
                                {/if}
                                <a href="{$shareUrl}" target="_blank" class="btn btn-default"><span
                                        class="fa fa-eye"></span>查看表单</a>

                        </div>
                       
                        <div class="btn-group" style="margin-right: 30px;">
                            <select name="refreshTime" class="btn" id="refreshTime" style="height: 32px;">
                                <option value=10000>10秒</option>
                                <option value=30000 selected>30秒</option>
                                <option value=60000>60秒</option>
                            </select>
                            <label class="btn">自动刷新
                                <input type="checkbox" name="" class="btn"
                                    style="position: unset;margin-left: 5px;margin-top: unset;" id="lunxun"
                                    checked></label>
                        </div>
                        <div class="btn-group" style="margin-right: 30px;">
                            <select name="searchField" class="btn" id="searchField" style="max-width: 200px;height: 32px;">
                                <option value="content.all">全部</option>
                                {volist name="searchFields" id="vo"}
                                <option value="{$vo.field}">{$vo.title}</option>
                                {/volist}
                            </select>
                            <input class="btn" type="text" id="searchText" placeholder="搜索">
                            <div class="btn-group">
                                <button id="btn_search" type="button" class="btn btn-success">
                                    <span class="fa fa-search" aria-hidden="true"></span>查询
                                </button>
                                <button id="btn_reset" type="button" class="btn btn-default">重置
                                </button>
                            </div>
                        </div>
                        <div class="btn-group">
                            <select name="exportType" class="btn" id="exportType" style="height: 32px;">
                                <option value="all" selected>全部</option>
                                <option value="today_update">今日更新</option>
                                <option value="today_add">今日新增</option>
                            </select>
                            <button id="export" class="btn btn-primary" dataid="{$template.tid}">
                                <span class="fa fa-file-excel-o"></span>导出
                            </button>
                        </div>
                    </div>
                    <table id="table" class="table  table-hover text-nowrap table-condensed">
                    </table>
                </div>
                <div id="secondPage" class="tab-pane">
                    <table id="secondTable" class="table">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{/block}

{block name="page-js"}
<link rel="stylesheet" href="__LIB__/bootstrap-table/bootstrap-table.min.css">
<script src="__LIB__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__LIB__/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script>
    $("#copy").click(function () {
        copyToClip("{$shareUrl}");
    })

    $(function () {
        //初始化Table
        $("#table").bootstrapTable({
            url: "{:url('admin/Template/dataList')}",
            method: "post", //请求方式（*）
            toolbar: "#toolbar", //工具按钮用哪个容器
            striped: false, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            queryParams: queryParams, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 15, //每页的记录行数（*）
            pageList: [15, 25, 50, 100], //可供选择的每页的行数（*）
            showRefresh: false, //是否显示刷新按钮
            showSearch: false,
            minimumCountColumns: 2, //最少允许的列数
            clickToSelect: true, //是否启用点击选中行
            // height: 750, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID", //每一行的唯一标识，一般为主键列
            detailView: false, //是否显示父子表

            columns: JSON.parse('{$options|raw}'),
        });
        //得到查询的参数
        function queryParams(params) {
            return {
                //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                tid: "{$template.id}",
                limit: params.limit, //页面大小
                offset: params.offset,
                order: params.order,
                ordername: params.sort,
                search: $("#searchText").val(),
                searchField: $("#searchField option:selected").val()
            };
        };

    });

    //异步删除数据
    function ajax_del(url, data) {
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            dataType: 'json',
            success: function (data) {
                if (data.code == 1) {
                    $('#table').bootstrapTable('refresh');
                } else {
                    showErrorMsg(data.msg)
                }
            }
        });
    }

    //内容过长显示格式
    function paramsMatter(value, row, index, field) {
        var span = document.createElement('span');
        if (value != null) {
            span.setAttribute('title', value);
            span.innerHTML = value;
            return span.outerHTML;
        }
    }

    //是否更新显示
    function isUpdate(value) {
        if (value == 1) {
            return "是";
        } else {
            return "否";
        }
    }
    $("#secondTab").click(function () {
        $.ajax({
            url: "{:url('admin/Template/getNoData')}",
            type: 'post',
            data: {
                tId: $(this).attr("dataid")
            },
            dataType: 'json',
            success: function (data) {
                if (data.code == 1) {
                    $("#secondTable").empty();
                    if (data.data.length != 0) {

                        var text = "<tr>";
                        $(data.data).each(function (index, value) {
                            index = index + 1
                            if (index != 0 && index % 10 == 0) {
                                text = text + "</tr><tr>"
                            } else {
                                text = text + "<td>" + value + "</td>"
                            }
                        });
                        text = text + "</tr>"
                        $("#secondTable").append(text);
                    } else {
                        $("#secondTable").append(data.msg);
                    }
                } else {
                    showErrorMsg(data.msg)
                }
            }
        });
    })


    var isPC = IsPC();

    if (isPC) {
        function confirm(msg, title, url, data) {
            layer.confirm(msg, {
                title: title,
                icon: 3
            }, function (index) {
                layer.close(index);
                ajax_del(url, data)
            });
        }
    } else {
        layer = mobile
        //询问框
        function confirm(msg, title, url, data) {
            layer.open({
                content: msg
                , btn: ['确认', '取消']
                , yes: function (index) {
                    layer.close(index);
                    ajax_del(url, data)
                }
            });
        }

    }
    $("#btn_delete").click(function () {
        var rows = $('#table').bootstrapTable('getSelections');// 获得要删除的数据
        // rows 主要是为了判断是否选中，下面的else内容才是主要
        if (rows.length == 0) {
            showErrorMsg("请先选择要删除的记录!");
            return;
        } else {
            // 声明一个数组
            var ids = new Array();
            // 通过获得别选中的来进行遍历
            $(rows).each(function () {
                ids.push(this.id);
            });
            confirm('确定删除吗？', '删除数据', "{:url('admin/Template/del')}", "ids=" + ids)
        }
    });


    $("#btn_refresh").click(function () {
        $('#table').bootstrapTable('refresh');
    })

    $("#btn_search").click(function () {
        $('#table').bootstrapTable('refresh');
    })
    $("#btn_reset").click(function () {
        $("#searchText").val("")
        $("#searchField").find("option:first").prop("selected", true);
        $('#table').bootstrapTable('refresh');
    })

    $("#export").click(function () {
        $.ajax({
            url: "{:url('admin/Template/export')}",
            type: 'post',
            data: {
                id: "{$template.id}",
                tid: "{$template.tid}",
                date: $("#exportType").val()
            },
            dataType: 'json',
            success: function (ret) {
                if (ret.code === 1) {
                    var $a = $("<a>");
                    $a.attr("href", ret.file);
                    $("body").append($a);
                    $a.attr("download", ret.filename);
                    $a[0].click();
                    $a.remove();
                } else {
                    showErrorMsg(ret.msg)
                }
            }
        })
    })
    let timerId = 1 // 模拟计时器id，唯一性
    let timerObj = {} // 计时器存储器
    let time = 10000;
    // 轮询
    function start() {
        const id = timerId++
        timerObj[id] = true
        let time = $("#refreshTime option:selected").val()
        async function timerFn() {
            if (!timerObj[id]) return
            $('#table').bootstrapTable('refresh');
            // console.log(timerObj)
            // console.log(time)
            setTimeout(timerFn, time)
        }
        timerFn()
    }
    // 暂停
    function stop() {
        timerObj = {}
    }

    start()

    let isPlay = true
    $("#lunxun").click(function () {
        isPlay = $(this).is(":checked")
        isPlay ? start() : stop()
    })

    $("#refreshTime").change(function () {
        stop()
        isPlay = $("#lunxun").is(":checked")
        isPlay ? start() : stop()
    })
</script>

{/block}