{extend name="public/admin_base"}

{block name="title"}创建模板{/block}
{block name="page-style"}
<link href="__CSS__/mysite.css" rel="stylesheet">
<style>
    #subForm label.error {
        color: red;
    }
</style>
{/block}
{block name="page-main"}
<div class="row">
    <div class="col-xs-8">
        <div class="widget radius-bordered">
            <div class="widget">
                <div class="bg-themeprimary widget-header">
                    <span class="widget-caption">手动创建表单</span>
                    <div class="widget-buttons">

                    </div>
                </div>
                <div class="widget-body">
                    <!-- style="background-color:rgba(45, 195, 232,0.25); padding: 20px;" -->
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="form-horizontal">
                                <form autocomplete="off" id="subForm">
                                    <table class="table" id="tableD">
                                        <caption>
                                            <h4>模板名</h4>
                                            <input type="text" required="true" name="templateName" class="form-control">
                                        </caption>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </form>
                                <button id="addInput" class="btn btn-info">添加一个文本框</button>
                                <button id="addSelect" class="btn btn-info">添加一个下拉菜单</button>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="project-right-sider" style="margin-top: 160px;">
                                <form class="form-box">
                                    <h4>请选择唯一标识字段</h4>
                                    <select class="select" name="primaryKey" id="primaryKey">
                                    </select>
                                    <!-- <div class="useXH hidden">
                        <h4>是否使用学号对照</h4>
                        <label>
                            <input type="radio" name="ifUseXH" class="a-radio" value="yes" checked>
                            <span class="b-radio"></span>使用
                        </label>

                        <label>
                            <input type="radio" name="ifUseXH" class="a-radio" value="no">
                            <span class="b-radio"></span>不使用
                        </label>
                    </div> -->
                                </form>
                                <button class="btn btn-success initTemplate" type="button"><span
                                        class="fa fa-table"></span>
                                    初始化模板</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="page-js"}
<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/messages_zh.min.js"></script>
<script src="__LIB__/design/designForm.js"></script>


<script>
    $(function () {
        $(".initTemplate").click(function () {
            $("#subForm").submit()
        })
        $("#subForm").validate(
            {
                submitHandler: function (form) {
                    $.ajax({
                        url: "{:url('admin/Hand/add')}",
                        type: "post",
                        dataType: 'json',
                        data: $('form').serialize(),
                        success: function (data) {
                            if (data.code == 1) {
                                showMsgAndHref(data)
                            } else {
                                showErrorMsg(data.msg)
                            }
                        },
                    });
                },
            });
    });



</script>
{/block}