{extend name="public/admin_base"}

{block name="title"}创建表单{/block}
{block name="page-breadcrumb"}
<li>创建表单</li>
<li class="active">手动创建表单</li>
{/block}
{block name="page-style"}
<link href="__CSS__/main.css" rel="stylesheet">
<style>
    #subForm label.error {
        color: red;
    }

    @media screen and (max-width: 768px) {
        select {
            min-width: 50px;
        }

        input {
            max-width: 100px;
        }

        td,
        label {
            font-size: 10px;
        }

        .td>input {
            max-width: 80px;
            padding: 2px;
            font-size: 10px;
        }

        .table>thead>tr>th,
        .table>tbody>tr>th,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>tbody>tr>td,
        .table>tfoot>tr>td {
            padding: 2px;
            font-size: 10px;
        }
    }

    .a-radio {
        display: none;
    }

    .b-radio {
        display: inline-block;
        border: 1px solid #ccc;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
    }

    .b-radio:before {
        content: '';
        font-size: 0;
        width: 10px;
        height: 10px;
        background: rgb(143, 188, 238);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -5px;
        margin-top: -5px;
        border-radius: 2px;
        display: none;
    }

    .a-radio:checked~.b-radio:before {
        display: block;
    }

    .select {
        display: inline-block;
        width: auto;
        min-width: 80px;
        height: 30px;
        position: relative;
        vertical-align: middle;
        padding: 0;
        overflow: hidden;
        background-color: #fff;
        color: #555;
        border: 1px solid #aaa;
        text-shadow: none;
        border-radius: 4px;
        transition: box-shadow 0.25s ease;
        z-index: 2;
    }

    .select:hover {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

    .select:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: #ccc;
        top: 14px;
        right: 10px;
        cursor: pointer;
        z-index: -2;
    }

    .select select {
        cursor: pointer;
        padding: 10px;
        width: 100%;
        border: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .select select:focus {
        outline: none;
    }
</style>
{/block}
{block name="page-main"}
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="bg-themeprimary widget-header">
                <i class="fa fa-arrow-left widget-icon"
                    onClick="window.location.href='{:url(\'admin/Templates/add\')}';" /></i>
                <span class="widget-caption">手动创建表单</span>
            </div>
            <div class="widget-body">
                <!-- style="background-color:rgba(45, 195, 232,0.25); padding: 20px;" -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            <form autocomplete="off" id="subForm">
                                <table class="table" id="tableD">
                                    <caption>
                                        <h4>表单名</h4>
                                        <input type="text" required="true" name="templateName" class="form-control"
                                            style="max-width:none;">
                                    </caption>
                                    <tbody>
                                </table>
                            </form>
                            <button id="addInput" class="btn btn-info">添加文本框</button>
                            <button id="addSelect" class="btn btn-info">添加下拉菜单</button>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="panel panel-default" style="margin-top: 60px;">
                            <div class="panel-body">
                                <h5>请选择唯一标识字段</h5>
                                <select class="select" name="primaryKey" id="primaryKey">
                                </select>
                                <div class="useData">
                                    <h5>是否使用自定义数据集</h5>
                                    <label>
                                        <input type="radio" name="ifUseData" class="a-radio" value="1">
                                        <span class="b-radio"></span>使用
                                    </label>

                                    <label>
                                        <input type="radio" name="ifUseData" class="a-radio" value="0" checked>
                                        <span class="b-radio"></span>不使用
                                    </label>
                                </div>
                                <div class="hidden myData">
                                    <h5>请选择数据集</h5>
                                    {neq name="Think.session.myData|count" value="0"}
                                    <select class="select" name="primaryKeyData" id="primaryKeyData">
                                        {volist name="Think.session.myData" id="vo"}
                                        <option value="{$vo.id}">{$vo.title}</option>
                                        {/volist}
                                    </select>
                                    {else /}
                                    <p class="alert alert-warning">您还没有数据集，请新建数据集</p>
                                    {/neq}
                                </div>
                                <button class="btn btn-success initTemplate" type="button"
                                    style="margin-top:20px;"><span class="fa fa-table"></span>
                                    初始化表单</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="page-js"}
<script src="__JS__/jquery.validate.min.js"></script>
<script src="__JS__/messages_zh.min.js"></script>
<script src="__LIB__/design/designForm.js"></script>


<script>
    $(function () {
        $(".a-radio").click(function () {
            var value = $(this).val();
            if (value === "1") {
                $(".myData").removeClass("hidden").addClass("show")
            } else {
                $(".myData").removeClass("show").addClass("hidden")
            }
        })
        $(".initTemplate").click(function () {
            $("#subForm").submit()
        })
        $("#subForm").validate(
            {
                submitHandler: function (form) {
                    var myData = $("#primaryKeyData").val();
                    var ifUseData = $("input[name='ifUseData']:checked").val();
                    var primaryKey = $("#primaryKey").val();
                    var data = $('form').serialize() + '&' + $.param({ 'ifUseData': ifUseData, 'primaryKey': primaryKey })
                    if (ifUseData == "1") {
                        data = data + '&' + $.param({ 'myData': myData, })
                    }

                    $.ajax({
                        url: "{:url('admin/Hand/add')}",
                        type: "post",
                        dataType: 'json',
                        data: data,
                        success: function (data) {
                            if (data.code == 1) {
                                showMsgAndHref(data)
                            } else {
                                showErrorMsg(data.msg)
                            }
                        },
                    });
                },
            });
    });
</script>
{/block}