{extend name="public/admin_base"}

{block name="page-style"}
<style>
    
</style>
{/block}
{block name="page-main"}
<div class="row">
    <div class="col-xs-12">
        <div class="well bordered-left bordered-themeprimary">
            <h4 style="font-weight: 100!important;font-style: italic;font-family: '新宋体'">
                欢迎使用快表表单管理系统！
            </h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="well with-header with-footer">
            <div class="header bg-themeprimary">
                常用功能
            </div>
            <div class="row">
                <a href="{:url('admin/Templates/list')}">
                    <div class="col-xs-1 fun_grid">
                        <span>任务列表</span>
                    </div>
                </a>
                <a href="{:url('admin/Templates/add')}">
                    <div class="col-xs-1 fun_grid">
                        <span>添加任务</span>
                    </div>
                </a>
                <a href="{:url('admin/MyData/index')}">
                    <div class="col-xs-1 fun_grid">
                        <span>我的数据</span>
                    </div>
                </a>
                <a class="loginout">
                    <div class="col-xs-1 fun_grid">
                        <span>退出</span>
                    </div>
                </a>
                {if session('admin.is_super')==1}
                <a href="{:url('admin/Admin/list')}">
                    <div class="col-xs-1 fun_grid">
                        <span>用户列表</span>
                    </div>
                </a>
                {/if}
            </div>
            <div class="footer"></div>
        </div>
        <!-- <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">服务器信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>服务器域名</td>
                        <td>{$Request.domain}/</td>
                    </tr>
                    <tr>
                        <td>服务器IP地址</td>
                        <td>{$Request.ip}</td>
                    </tr>
                    <tr>
                        <td>服务器端口</td>
                        <td>{$Request.port}</td>
                    </tr>

                    <tr>
                        <td>联系邮箱</td>
                        <td>lijianwzx@163.com</td>
                    </tr>
                    <tr>
                        <td>上次登录时间</td>
                        <td>{$Think.session.admin.last_time|date="Y年m月d日"}</td>
                    </tr>
                </tbody>
            </table> -->
    </div>
</div>
{/block}