{extend name="public/admin_base"}
{block name="title"}
为辅导员/班长添加下属班长
{/block}
{block name="page-main"}
<div class="row">
    <div class="col-xs-6">
        <div class="widget">
            <div class="bg-themeprimary widget-header">
                <span class="widget-caption">添加班长</span>
            </div>
            <div class="widget-body">

                <div class="row">
                   <form>
                    <div class="col-lg-6">
                        <textarea name="memberList" id="memberList" cols="30" rows="20"></textarea>
                    </div>

                    <div class="col-lg-2">
                        <select name="instructor" id="instructor" style="width: 100px;">
                            {volist name="instructor"" id="vo" empty="暂时没有数据"}
                            <option value="{$vo.uid}">{$vo.username}</option>
                            {/volist}
                        </select>
                    </div>
                   </form>

                    <div style="text-align:center;">
                        <button id="add" class="btn btn-lg btn-success">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="page-js"}
<script>
    $("#add").click(function () {
        $.ajax({
            url: "{:url('admin/Cov/addMembers')}",
            type: 'post',
            data: $("form").serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.code == 1) {
                    showMsgAndHref(data)
                } else {
                    showErrorMsg(data.msg)
                }
            }
        });
    })
</script>
{/block}