<form enctype="multipart/form-data">
    <div class="file-loading">
        <input id="kv-explorer" type="file" class="file">
    </div>
</form>

<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__LIB__/bootstrap-fileinput/css/fileinput.min.css">


<script src="__JS__/jquery.min.js"></script>
<script src="__LIB__/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="__LIB__/bootstrap-fileinput/js/locales/zh.js"></script>

<script>
    $("#kv-explorer").fileinput({
        language: 'zh', //设置语言
        uploadUrl: 'cov_ajax_upload', //上传的地址
        allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
        browseClass: "btn btn-primary", //按钮样式
        removeFromPreviewOnError: true,//是否移除校验文件失败的文件
        overwriteInitial: false,  // 覆盖初始预览内容和标题设置
        showCancel: false, // 显示取消按钮
        showZoom: false,     // 显示预览按钮
        minImageWidth: 50, //图片的最小宽度
        minImageHeight: 50,//图片的最小高度
        maxImageWidth: 1024,//图片的最大宽度
        maxImageHeight: 1024,//图片的最大高度
        maxFileSize: 2500,//单位为kb，如果为0表示不限制文件大小
        maxFileCount: 1, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount: true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        overwriteInitial: false,
        fileActionSettings: {                               // 在预览窗口中为新选择的文件缩略图设置文件操作的对象配置
            showRemove: false,                                   // 显示删除按钮
            showUpload: false,                                   // 显示上传按钮
            showDownload: false,                            // 显示下载按钮
            showZoom: false,                                    // 显示预览按钮
            showDrag: false,                                        // 显示拖拽
        },
    });
</script>